[Unit]
Description="fetches EC2 metadata, and stores it as an EnvironmentFile"
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart="/usr/bin/update-ec2-metadata-environment"

